
	<div class="alert alert-warning" role="alert" ng-show="processing">  
		<i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> 
		&nbsp;&nbsp;The file has been uploaded successfully and is being processed now. Please, wait&hellip; 		
	</div>

	<div ng-show="!processing">
		<div id="wave-timeline"></div>
		<div id="waveform"></div>
		<wave-timeline-manage></wave-timeline-manage>		
	</div>
	
	<!-- Modal goBack -->
	<div class="modal fade" role="dialog" id="backModal">
		<div class="modal-dialog modal-md">
		
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Back</h4>
				</div>
				<div class="modal-body">
					<p>Changes will not be saved!</p>
					<p>Are you sure, you wand to end work with current audio file?</p>				
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary" ng-click="goBack()">Yes</button>
				</div>				
			</div>
		</div>
	</div>
